{% extends 'layout.html' %}
{% from 'macros.html' import navbar %}

{% block main %}
  {{ navbar('/index') }}


    <div class="py-4">
      <h2>Lista de participantes</h2>
      
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td><img src="{{user.foto}}" alt="Skater"
              style="width: 70px; height: auto;"></td>
            <td>{{ user.nombre }}</td>
            <td>{{ user.anos_experiencia }}</td>
            <td>{{ user.especialidad }}</td>
            {% if user.estado %} <td class="text-succes font-weight-bold">Aprobado</td> 
            {% else %} <td class="text-warning font-weight-bold"> En revisión</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="/login">Iniciar Sesión</a> |
      <a href="/registro">Registrarme</a>
    </div>
  
{% endblock %}
